[submodule "bash/.bash-git-prompt"]
	path = bash/.bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "vim/.vim/bundle/vim-pathogen"]
	path = vim/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
