[submodule "bash/.bash-git-prompt"]
	path = bash/.bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "vim/.vim/bundle/vim-pathogen"]
	path = vim/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/.vim/bundle/vim-repeat"]
	path = vim/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/.vim/bundle/vim-commentary"]
	path = vim/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/.vim/bundle/ReplaceWithRegister"]
	path = vim/.vim/bundle/ReplaceWithRegister
	url = https://github.com/vim-scripts/ReplaceWithRegister.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/vim-jdaddy"]
	path = vim/.vim/bundle/vim-jdaddy
	url = https://github.com/tpope/vim-jdaddy
[submodule "vim/.vim/bundle/vim-airline-themes"]
	path = vim/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/.vim/bundle/todo.txt-vim"]
	path = vim/.vim/bundle/todo.txt-vim
	url = https://github.com/freitass/todo.txt-vim.git
